# Python
__pycache__/
*.py[cod]
*.pyo
.env
*.egg-info/
.venv/
venv/

# Node
frontend/node_modules/
frontend/dist/
frontend/.env.local

# IDE
.idea/
.vscode/
.claude/

# Prowler output
/tmp/prowler_results/

# AWS key file
*.pem
https:/
